.RandomPlanet {
  display: flex;
  justify-content: space-between;
  background: hsl(0 0% 33%);
  padding: 1rem 1rem;
  margin: 1rem 0;
  border-radius: .7rem;
  border-bottom: .4rem solid hsl(0 0% 0% / .3);
}
.RandomPlanet .PlanetImage {
  display: flex;
  width: 37%;
  height: 37%;
  border-radius: .7rem;
  border: .4rem solid hsl(0 0% 22% / .5);
}
.RandomPlanet .list {
  background: hsl(0 0% 22%);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: .8rem;
  margin: 0 0 0 1rem;
  border-radius: .7rem;
  color: white;
}
.RandomPlanet .item {
  padding: .5rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.RandomPlanet .term {
  width: 100%;
  color: hsl(0 0% 75%);
  padding-bottom: .5rem;
}
