.ItemList {
  padding: 0;
  text-decoration: none;
  list-style: none;
  border-radius: .7rem;
  display: block;
  width: 100%;
}
.ItemList .item {
  white-space: nowrap;
  background: hsl(0 0% 33%);
  color: hsl(0 0% 100% / .75);
  padding: .4rem;
  border-bottom:  1px solid hsl(0 0% 44%);
  text-align: left;
  cursor: pointer;
  transition: .2s;
}
.ItemList .item:hover {
  filter: brightness(115%);
  transition: 0s;
}